@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  background-color: #f0fafb;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.attribution {
  margin-top: 3rem;
}

.default-text {
  margin-top: 4rem;
}

header {
  background-image: url("../images/bg-header-desktop.svg");
  background-color: #5da5a4;
  height: 155px;
  margin-bottom: 5rem;
  position: relative;
}

.fa-times {
  font-weight: 700;
  font-size: 1.2rem;
  display: inline-block;
  color: #edf7f6;
  background-color: #5ba4a4;
  cursor: pointer;
  padding: 5px;
}

.fa-times:hover {
  background-color: #283b39;
}

.search {
  background-color: white;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 80%;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 10%;
  bottom: -2rem;
  -webkit-box-shadow: 3px 10px 15px 2px rgba(2, 82, 82, 0.13);
          box-shadow: 3px 10px 15px 2px rgba(2, 82, 82, 0.13);
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
  padding: 0 1.8rem;
}

.search.show {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.search__tags {
  list-style: none;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search__tag {
  font-weight: 700;
  color: #5ba4a4;
  background-color: #edf7f6;
  padding-left: 5px;
  overflow: hidden;
  border-radius: 3px;
  margin-left: 1rem;
}

.search__clear {
  font-size: 0.8rem;
  color: #2c3a3a;
  cursor: pointer;
}

.search__clear:hover {
  color: #5ba4a4;
  text-decoration: underline;
}

.card {
  background-color: white;
  width: 80%;
  margin: 2rem auto;
  min-height: 153px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 10px 15px 2px rgba(2, 82, 82, 0.13);
          box-shadow: 3px 10px 15px 2px rgba(2, 82, 82, 0.13);
  padding: 0 2rem;
  border-left: 5px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card--highlight {
  border-color: #5ba4a4;
}

.card__title {
  font-size: 1.2rem;
  margin: 0;
}

.card__body {
  height: 100%;
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__tags {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card__tag {
  margin-left: 1rem;
  font-size: 0.8rem;
  background-color: #eef6f6;
  color: #5ba4a4;
  padding: 6px 10px;
  border-radius: 3px;
  font-weight: 700;
}

.card__tag:hover {
  cursor: pointer;
  color: #eef6f6;
  background-color: #5ba4a4;
}

.card__img {
  height: 89px;
  width: 89px;
  background-color: #5ba4a4;
  border-radius: 50%;
  margin-right: 2.2rem;
}

.card__description {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description-tag {
  padding-right: 30px;
  color: #7b8e8e;
}

.description-tag:first-child {
  list-style: none;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 24px;
}

.company__title {
  font-size: 0.8rem;
  margin: 0;
  color: #5da5a2;
}

.company__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.company__tag {
  font-size: 0.6rem;
  color: white;
  background-color: #5da5a2;
  padding: 5px 8px;
  border-radius: 20px;
  margin-left: 5px;
}

@media screen and (max-width: 1260px) {
  .search {
    width: 70%;
    left: 15%;
  }
  .card {
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 840px) {
  .card__img {
    height: 50px;
    width: 50px;
  }
  .card__title {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .card__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: -25px;
  }
  .card__tags {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card__tag {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .company__tags {
    display: none;
  }
  .company__title {
    margin-top: 0.8rem;
  }
  .description-tag {
    font-size: 0.8rem;
    padding-right: 20px;
  }
}

@media screen and (max-width: 675px) {
  .search {
    width: 90%;
    left: 5%;
  }
  .card {
    width: 90%;
  }
  .card__tags {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 415px) {
  header {
    background-image: url("../images/bg-header-mobile.svg");
  }
  .card {
    margin: 4rem auto;
  }
  .card__description {
    padding-bottom: 1rem;
    border-bottom: 1px solid #a0b0b0;
  }
  .card__tag {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */